using '../main.bicep'

param environment = 'dev'
param location = 'eastus2'
param workloadName = 'cerebricep'

param tags = {
  project: 'cerebricep'
  costCenter: 'development'
}

param documentDbAdminPassword = '{GITHUB_SECRET_DOCUMENTDB_ADMIN_PASSWORD_DEV}'
param documentDbComputeTier = 'M10'
param documentDbStorageSizeGb = 32
param documentDbEnableHighAvailability = false
