using '../main.bicep'

param environment = 'prod'
param location = 'eastus2'
param workloadName = 'cerebricep'

param tags = {
  project: 'cerebricep'
  costCenter: 'production'
}

param documentDbAdminPassword = '{GITHUB_SECRET_DOCUMENTDB_ADMIN_PASSWORD_PROD}'
param documentDbComputeTier = 'M50'
param documentDbStorageSizeGb = 256
param documentDbEnableHighAvailability = true
