using '../main.bicep'

param environment = 'uat'
param location = 'eastus2'
param workloadName = 'cerebricep'

param tags = {
  project: 'cerebricep'
  costCenter: 'testing'
}

param documentDbAdminPassword = '{GITHUB_SECRET_DOCUMENTDB_ADMIN_PASSWORD_UAT}'
param documentDbComputeTier = 'M30'
param documentDbStorageSizeGb = 64
param documentDbEnableHighAvailability = false
